.form{
    justify-content: center;
    text-align: center;
    margin-top:auto;
}

.card{
    display: block;
    margin-right: auto ;
    margin-left: auto;
    margin-top: auto;
}
.form-group{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.blocktext{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}
section{
    padding-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
}
